<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypgly.yipin.mapper.UserInfoMapper">

    <insert id="addUserInfo" parameterType="com.ypgly.yipin.entity.UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_info (userNumber,userName,userDistrict,powerNum,
        <if test="userVipLevel!=null and userVipLevel!=''">
            userVipLevel,
        </if>
        <if test="unionName!=null and unionName!=''">
            unionName,
        </if>
        <if test="unionLeve!=null and unionLevel!=''">
            unionLevel,
        </if>
        doormanNum
        )
        values (#{userNumber},#{userName},#{userDistrict},#{powerNum},
        <if test="userVipLevel!=null and userVipLevel!=''">
            #{userVipLevel},
        </if>
        <if test="unionName!=null and unionName!=''">
            #{unionName},
        </if>
        <if test="unionLevel!=null and unionLevel!=''">
            #{unionLevel},
        </if>
        #{doormanNum})
    </insert>
    <select id="getUserInfoByUserNum" resultType="com.ypgly.yipin.entity.UserInfo">
        select t.id,t.userNumber,t.userName,t.userDistrict,t.powerNum,t.userVipLevel,t.doormanNum,t.unionName,t.unionLevel from t_user_info t where 1=1
        <if test="userNumber!=null and userNumber!=''">
            and t.userNumber = #{userNumber}
        </if>
        <if test="userDistrict!=null and userDistrict!=''">
            and t.userDistrict = #{userDistrict}
        </if>
    </select>

    <select id="pageUserInfo" resultType="com.ypgly.yipin.entity.UserInfo">
        select t.id,t.userNumber,t.userName,t.userDistrict,t.powerNum,t.userVipLevel,t.doormanNum,t.unionName,t.unionLevel from t_user_info t where 1=1
        <if test="userNumber!=null and userNumber!=''">
            and t.userNumber = #{userNumber}
        </if>
        <if test="userDistrict!=null and userDistrict!=''">
            and t.userDistrict = #{userDistrict}
        </if>
        <if test="doormanNum!=null and doormanNum!=''">
            and t.doormanNum > #{doormanNum}
        </if>
    </select>
    <update id="updateUserInfo" parameterType="com.ypgly.yipin.entity.UserInfo">
        <if test="id!=null and id!=''">
            update t_user_info
                <set>
                    <if test="userNumber!=null and userNumber!=''">
                        userNumber = #{userNumber},
                    </if>
                    <if test="userName!=null and userName!=''">
                        userName = #{userName},
                    </if>
                    <if test="userDistrict!=null and userDistrict!=''">
                        userDistrict = #{userDistrict},
                    </if>
                    <if test="powerNum!=null and powerNum!=''">
                        powerNum = #{powerNum},
                    </if>
                    <if test="userVipLevel!=null and userVipLevel!=''">
                        userVipLevel = #{userVipLevel},
                    </if>
                    <if test="doormanNum!=null and doormanNum!=''">
                        doormanNum = #{doormanNum},
                    </if>
                    <if test="unionName!=null and unionName!=''">
                        unionName = #{unionName},
                    </if>
                    <if test="unionLevel!=null and unionLevel!=''">
                        unionLevel = #{unionLevel},
                    </if>
                </set>
                where id=${id}
        </if>

    </update>
</mapper>